<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <a href="/shows" id="back">Go Back</a>
    <div class="wrapper">
        <h1>Add a New Show</h1>
        <form action="/shows/new/create" method="POST">
            {% csrf_token %}
            <div>
                <label for="title">Title: </label><input name="title" type="text" id="title">
            </div>
            <div>
                <label for="network">Network: </label><input name="network" type="text">
                <label for="release_date">Release Date: </label><input name="release_date" type="date">
            </div>
            <div>
                <p>Description: </p>
                <textarea name="description" id="description" cols="30" rows="5"></textarea>
            </div>
            <button type="submit">Create</button>
        </form>
    </div>
</body>
</html>