<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time APP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
</head>
<body>
    <ul>
        <li id="time1">{{ time }}</li>
        <li id="time2">{{ time2 }}</li>
        <li id="time3">{{ time3 }}</li>
        <li id="time4">{{ time4 }}</li>
    </ul>
</body>
</html>