{% extends "base.html" %}
{% load static %}
{% block title %}Product List{% endblock %}
{% block table %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price($)</th>
                <th scope="col">Date Added</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-body">
            {% for product in products %}
            <tr>
                <th scope="row">{{product.id}}</th>
                <td>{{product.manufacturer}}</td>
                <td>{{product.name}}</td>
                <td>${{product.price}}</td>
                <td>{{product.created_at|date:"M d, Y"}}</td>
                <td>
                    <a href="{% url 'editing' product.id %}" class="text-white">Edit</a> |
                    <a href="{% url 'deleting' product.id %}" class="text-white delete" product_id={{product.id}}>Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block script %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
