<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator Results</title>
    <style>
        body {
            font-size: larger;
        }
    </style>
</head>
<body>
    <strong>The sum is: {{sum}}</strong><br>
    <strong>The difference is: {{difference}}</strong><br>
    <strong>The product is: {{product}}</strong><br>
    <strong>The factor is: {{factor}}</strong>
</body>
</html>