{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-5">
        <div class="card p-2">
            <div class="card-body">
                <h1>Log In</h1>
                <form action="{% url 'login' %}" method="POST" novalidate>
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Log In</button>
                        <a href="{% url 'password_reset' %}" class="btn btn-link">Forgot your password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}