<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5 d-flex justify-content-center">
        <div class="col-7">
                <h2 class="mb-4 me-2 d-inline"><mark>{{student[0].first_name}} {{student[0].last_name}}'s Report Card</mark></h2>
                <div class="ms-5 d-inline">
                    <a href="/dashboard">Dashboard</a> | <a href="/edit/{{student[0].id}}">Add Course Grade</a>
                </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                        <tr>
                            <th scope="row">{{grade.name}}</th>
                            <td>{{grade.grade}}</td>
                            <td>{{grade.comment}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>