<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <div class="container pt-5">
        <div class="mb-5">
            <h3>Your Gold: {{session['money']}}</h3>
            <h4># of attempt: {{session['attempt']}}</h4>
            <h4><mark>"Your goal is 500 gold within 15 attempts!!"</mark></h4>
            {% if session['result'] == 'lost' %}
                <h3 class="text-danger">You lost this game..</h3>
            {% elif session['result'] == 'won' %}
                <h3 class="text-success">Your won this game. Good job!!</h3>
            {% endif %}
            {% if 'result' in session %}
                <a href="/reset_money"><button class="btn btn-danger">Reset</button></a>
            {% endif %}
        </div>
        <div class="row d-flex justify-content-between mb-5">
            <div class="card col-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Farm</h5>
                    <p class="card-text">Ninja will earns 10-20 golds</p>
                    <form action="/process_money" method="POST">
                        <input type="hidden" name="farm" value="came from farm">
                        <button type="submit" class="btn btn-primary">Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="card col-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Cave</h5>
                    <p class="card-text">Ninja will earns 5-10 golds</p>
                    <form action="/process_money" method="POST">
                        <input type="hidden" name="cave" value="came from cave">
                        <button type="submit" class="btn btn-primary">Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="card col-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">House</h5>
                    <p class="card-text">Ninja will earns 2-5 golds</p>
                    <form action="/process_money" method="POST">
                        <input type="hidden" name="house" value="came from house">
                        <button type="submit" class="btn btn-primary">Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="card col-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Casino</h5>
                    <p class="card-text">Ninja will earns/lose 0-50 golds</p>
                    <form action="/process_money" method="POST">
                        <input type="hidden" name="casino" value="came from casino">
                        <button type="submit" class="btn btn-primary">Find Gold!</button>
                    </form>
                </div>
            </div>
        </div>
        <h3>Activities:</h3>
        <div class="overflow-auto" style="height: 200px;">
            <ul>
                {% for activity in session['activities'] %}
                    {{activity|safe}}
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>